#imageArticle{
    width: 450px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.okay{
    position: relative;
    text-align: center;
}

.textDescription{
    text-align: center;
    bottom: 0;
    left: 400px;
    margin: 18px 300px;
    padding: 45px auto;
    background-color: #ffb3ff;   

}

.buttonColor{
    margin: 15px auto;
    color: #fff;
    
}

.lastComment{
    background-color: #ffb3ff;
    margin: 100px 200px;
   

}

#lastComment{
    margin: 10px 250px;
   
}